<!-- navbar start -->
<header>
  <form action="/search" method="get">
  <nav class="navigation">
    <div>
      <img src="/logo/LOGO-forg-res.png" alt="" class="logo-frog-res" />
    </div>
    <ul>
      <li class="beranda">
        <a href="/" class="link">BERANDA</a>
      </li>
      <li class="buku">
        <a href="ebook" class="link">BUKU</a>
      </li>
    </ul>
    <div class="input-grup">
      <input type="text" name="q" class="input" autocomplete="off" />
      <button type="submit" class="" onclick="console.log('button di tekan')">
        <div class="icon">
          <i class="icon-search" aria-hidden="true"
            ><img src="/icon/search.png" alt=""
          /></i>
        </div>
      </button>
    </div>
    <div class="profile-grup">
      <% if (isLoggedIn) { %>
        <a href="/logout" class="profile rounded-full">
          <img src="/icon/foto-profile.png" alt="" class="foto-profile" />
        </a>
      <% } else { %>
        <a href="/login" class="profile rounded-full">
          <img src="/icon/foto-profile.png" alt="" class="foto-profile" />
        </a>
        <% } %>
      
    </div>
  </nav>
</form>
</header>
<!-- navbar done -->
