<!-- navbar start -->
<header>
  <nav class="navigation">
    <div>
      <img src="/logo/LOGO-forg-res.png" alt="" class="logo-frog-res" />
    </div>
    <ul>
      <li class="beranda">
        <a href="/" class="link">BERANDA</a>
      </li>
      <li class="buku">
        <a href="ebook" class="link">BUKU</a>
      </li>
    </ul>
    <div class="input-grup">
      <input type="text" name="name" class="input" autocomplete="off" />
      <div class="icon">
        <i class="icon-search" aria-hidden="true"
          ><img src="/icon/search.png" alt=""
        /></i>
      </div>
    </div>
    <div class="profile-grup">
      <a href="login" class="profile rounded-full">
        <img src="/icon/foto-profile.png" alt="" class="foto-profile" />
      </a>
    </div>
  </nav>
</header>
<!-- navbar done -->
