
 <div class="mt-[70px]">
  <div class="w-[1099px] h-[800px] bg-[#B9B9B9] float-left rounded-sm border-black border-[1px]">
    <h1>peler</h1>
  </div>

  <div class="w-[250px] h-[800px] bg-[#D6CDCD] float-right border-black border-[1px] mr-0 rounded-sm">
    input:dro
  </div>
</div>