<%- include('./layouts/nav') %>

<div class="mt-[70px]">
  <div
    class="w-[82.1%] fixed h-screen top-16 left-[242px] bg-[#151414] overflow-y-auto float-right rounded-sm"
  >

    <h1 class="text-6xl py-3 px-5 pb-5 text-center text-[#1aa24a]">kehampaan</h1>
  </div>

  <%- include('./layouts/side-bar') %>
</div>
