<%- include('./layouts/nav') %>

<div class="mt-24 h-[800px] bg-[#E7DFDF] ml-24 mr-24 text-2xl rounded-lg relative border-[1px] border-black">
    <h1 class="text-center absolute ml-[436px] top-4">A Book For You</h1>

    <div class="h-52 w-full bg-[#4d4444] absolute top-16 border-1 border-black">

        <!-- Buku Barisan Pertama -->
        <div class="ml-[150px] mx-auto my-auto">
            <a href="/buku/[Asrianda] Teori dan Implementasi Pemograman C 2018.pdf" download="[Asrianda] Teori dan Implementasi Pemograman C 2018.pdf" class="cursor-pointer">
                <img src="/sampul/sampul2.png" alt="gambar"
                    class="h-48 w-32 ml-8 mt-1.5 border-[#1E1E1E] border-2 hover:-rotate-12">
            </a>

            <a href="/buku/cpp_tutorial.pdf" download="cpp_tutorial.pdf">
                <img src="/sampul/sampul4.png" alt="gambar"
                    class="h-48 w-32 ml-[200px] absolute top-1.5 border-[#1E1E1E] border-2 hover:-rotate-12">
            </a>

            <a href="/buku/csharp_tutorial.pdf" download="csharp_tutorial.pdf">
                <img src="/sampul/sampul3.png" alt="gambar"
                    class="h-48 ml-[363px] absolute top-1.5 border-[#1E1E1E] border-2 hover:-rotate-12">
            </a>

            <a href="buku/Modul Lengkap Javascript.pdf" download="Modul Lengkap Javascript.pdf">
                <img src="sampul/sampul5.png" alt="gambar"
                    class="h-48 ml-[528px] absolute top-1.5 border-[#1E1E1E] border-2 hover:-rotate-12">
            </a>

            <a href="buku/SwiftLanguage.pdf" download="SwiftLanguage.pdf">
                <img src="sampul/sampul6.png" alt="gambar"
                    class="h-48 ml-[692px] absolute top-1.5 border-[#1E1E1E] border-2 hover:-rotate-12">
            </a>
            <img src="/icon/Kodok2.png" alt="gambar" class="absolute -top-[60px] left-12">
            
        </div>

        <!-- Papan Kategori Fantasy -->
        <img src="/icon/Fannew2.png" alt="gambar" class="ml-[625px] absolute -top-[88px]">

        <div class="h-52 w-full bg-[#4d4444] absolute top-[285px] border-1 border-black">

            <!-- Buku Barisan Kedua -->
            <div class="">
                <a href="buku/java_tutorial.pdf" download="java_tutorial.pdf">
                <img src="sampul/sampul1.png" alt="gambar"
                    class="w-32 h-48 absolute top-1.5 ml-[350px]  border-[#1E1E1E] border-2 hover:rotate-12">
                </a>

                <a href="buku/perl_tutorial.pdf" download="perl_tutorial.pdf000">
                <img src="sampul/sampul7.png" alt="gambar"
                    class="w-32 h-48 absolute top-1.5 ml-[185px] border-[#1e1e1e] border-2 hover:rotate-12">
                </a>

                <a href="buku/Python.pdf" download="Python.pdf">
                <img src="sampul/sampul8.png" alt="gambar"
                    class="w-32 h-48 absolute top-1.5 ml-[515px] border-[#1e1e1e] border-2 hover:rotate-12 z-50">
                </a>

                <a href="buku/PHP Dasar Tutorial.pdf" download="PHP Dasar Tutorial.pdf">
                <img src="sampul/sampul9.png" alt="gambar"
                    class="w-32 h-48 absolute top-1.5 ml-[680px] border-[#1e1e1e] border-2 hover:rotate-12">
                </a>

                <a href="buku/ruby_tutorial.pdf" download="ruby_tutorial.pdf">
                <img src="sampul/sampul10.png" alt="gambar"
                    class="w-32 h-48 absolute top-1.5 ml-[845px] border-[#1e1e1e] border-2 hover:rotate-12">
                </a>

                <!-- Papan Kategori Science -->
                <img src="/icon/saint5.png" alt="gambar" class="absolute -top-16 ml-[315px]">

                <img src="/icon/Kodok2.png" alt="gambar" class="absolute -top-[60px] left-[540px]">

              
            </div>

             
        </div>
        </a>
    </div>
</div>