<!-- content start-->
<main class="content">
    <div class="main-content pertama">
      <div class="grup-content">
        <a href="dart" class="disabled:opacity-50">
          <div class="bahasa">
            <img src="/logo/dart.png" alt="" class="hover:scale-180 hover:rotate-12 transition duration-600 ease-in-out" />
            <h2>DART</h2>
          </div>
        </a>
        <a href="swift">
          <div class="bahasa m-swift">
            <img src="/logo/swift.png" alt="" class="hover:scale-180 hover:rotate-12 transition duration-600 ease-in-out"/>
            <h2>SWIFT</h2>
          </div>
        </a>
        <a href="js">
          <div class="bahasa">
            <img src="/logo/javascript.png" alt="" class="hover:scale-180 hover:rotate-12 transition duration-600 ease-in-out"/>
            <h2>JAVASCRIPT</h2>
          </div>
        </a>
        <a href="ruby">
          <div class="bahasa">
            <img src="/logo/ruby.png" alt="" class="hover:scale-180 hover:rotate-12 transition duration-600 ease-in-out"/>
            <h2>RUBY</h2>
          </div>
        </a>
      </div>
      <hr class="hr" />
    </div>
    <div class="main-content gap">
      <div class="grup-content">
        <a href="cplusplus">
          <div class="bahasa">
            <img src="/logo/c++.png" alt="" class="hover:scale-180 hover:rotate-12 transition duration-600 ease-in-out"/>
            <h2>C++</h2>
          </div>
        </a>
        <a href="java">
          <div class="bahasa transform -translate-y-5">
            <img src="/logo/java.png" alt="" class="hover:scale-180 hover:rotate-12 transition duration-600 ease-in-out"/>
            <h2>JAVA</h2>
          </div>
        </a>
        <a href="python">
          <div class="bahasa">
            <img src="/logo/python.png" alt="" class="hover:scale-180 hover:rotate-12 transition duration-600 ease-in-out"/>
            <h2>PYTHON</h2>
          </div>
        </a>
        <a href="php">
          <div class="bahasa">
            <img src="/logo/php.png" alt="" class="hover:scale-180 hover:rotate-12 transition duration-600 ease-in-out"/>
            <h2>PHP</h2>
          </div>
        </a>
      </div>
      <hr class="hr" />
    </div>
    <div class="main-content gap">
      <div class="grup-content">
        <a href="ts">
          <div class="bahasa transform translate-x-5 -translate-y-1">
            <img src="/logo/typescript.png" alt="" class="hover:scale-180 hover:rotate-12 transition duration-600 ease-in-out"/>
            <h2>TYPESCRIPT</h2>
          </div>
        </a>
        <a href="perl">
          <div class="bahasa transform -translate-y-2.5">
            <img src="/logo/perl.png" alt="" class="hover:scale-180 hover:rotate-12 transition duration-600 ease-in-out"/>
            <h2>PERL</h2>
          </div>
        </a>
        <a href="csharp">
          <div class="bahasa">
            <img src="/logo/csharp.png" alt="" class="hover:scale-180 hover:rotate-12 transition duration-600 ease-in-out"/>
            <h2>C#</h2>
          </div>
        </a>
        <a href="r">
          <div class="bahasa">
            <img src="/logo/r.png" alt="" class="hover:scale-180 hover:rotate-12 transition duration-600 ease-in-out"/>
            <h2>R</h2>
          </div>
        </a>
      </div>
      <hr class="hr" />
    </div>
    <div class="main-content gap">
      <div class="grup-content">
        <a href="dart">
          <div class="bahasa">
            <img src="/logo/dart.png" alt="" class="hover:scale-180 hover:rotate-12 transition duration-600 ease-in-out"/>
            <h2>DART</h2>
          </div>
        </a>
        <a href="swift">
          <div class="bahasa m-swift">
            <img src="/logo/swift.png" alt="" class="hover:scale-180 hover:rotate-12 transition duration-600 ease-in-out"/>
            <h2>SWIFT</h2>
          </div>
        </a>
        <a href="js">
          <div class="bahasa">
            <img src="/logo/javascript.png" alt="" class="hover:scale-180 hover:rotate-12 transition duration-600 ease-in-out"/>
            <h2>JAVASCRIPT</h2>
          </div>
        </a>
        <a href="ruby">
          <div class="bahasa">
            <img src="/logo/ruby.png" alt="" class="hover:scale-180 hover:rotate-12 transition duration-600 ease-in-out"/>
            <h2>RUBY</h2>
          </div>
        </a>
      </div>
      <hr class="hr" />
    </div>
  </main>
  <!-- content done -->

  <!-- aside start -->

  <aside class="">
    <div class="aside-content relative">
      <div class="text-blue-100 mb-5 cursor-pointer">
        <h1 class="font-bold text-1xl">Contoh Judul</h1>
        <p class="font-light text-xs">
          penulis, <span class="italic">Gantinama</span>
        </p>
        <p class="text truncate line-clamp-1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
          sequi tempore asperiores sapiente tenetur, nulla officia ratione
          vero? Veniam, necessitatibus!
        </p>
      </div>

      <div class="text-blue-100 mb-5 cursor-pointer">
        <h1 class="font-bold text-1xl">Contoh Judul</h1>
        <p class="font-light text-xs">
          penulis, <span class="italic">Gantinama</span>
        </p>
        <p class="text truncate line-clamp-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
          sequi tempore asperiores sapiente tenetur, nulla officia ratione
          vero? Veniam, necessitatibus!
        </p>
      </div>

      <div class="text-blue-100 mb-5 cursor-pointer">
        <h1 class="font-bold text-1xl">Contoh Judul</h1>
        <p class="font-light text-xs">
          penulis, <span class="italic">Gantinama</span>
        </p>
        <p class="text truncate line-clamp-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
          sequi tempore asperiores sapiente tenetur, nulla officia ratione
          vero? Veniam, necessitatibus!
        </p>
      </div>

      <div class="text-blue-100 mb-5 cursor-pointer">
        <h1 class="font-bold text-1xl">Contoh Judul</h1>
        <p class="font-light text-xs">
          penulis, <span class="italic">Gantinama</span>
        </p>
        <p class="text truncate line-clamp-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
          sequi tempore asperiores sapiente tenetur, nulla officia ratione
          vero? Veniam, necessitatibus!
        </p>
      </div>

      <div class="text-blue-100 cursor-pointer">
        <h1 class="font-bold text-1xl">Contoh Judul</h1>
        <p class="font-light text-xs">
          penulis, <span class="italic">Gantinama</span>
        </p>
        <p class="text truncate line-clamp-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
          sequi tempore asperiores sapiente tenetur, nulla officia ratione
          vero? Veniam, necessitatibus!
        </p>
      </div>

      <div class="ml-[65px]">
        <div
          class="absolute bottom-0 text-white drop-shadow-md font-mono mb-14 ml-[69px]"
        >
          <h3>Hubungi Kami</h3>
        </div>
        <div class="w-10 h-10 absolute bottom-0 ml-14 mb-2 rounded-full hover:scale-180 hover:rotate-12 transition duration-600 ease-in-out">
          <a href="https://www.instagram.com/frog.res/" target="_blank">
            <img src="/logo/insta.png" alt="gambar" />
          </a>
        </div>

        <div class="w-[50px] h-12 left-[60px] absolute -bottom-[3px] ml-[100px] mb-2 rounded-full hover:scale-180 hover:rotate-12 transition duration-600 ease-in-out">
          <a href="https://discord.gg/XX93UZgA" target="_blank">
            <img src="/icon/dc.png" alt="gambar" />
          </a>
        </div>

        <div class="w-10 h-10 absolute bottom-0 ml-[144px] mb-2 rounded-full hover:scale-180 hover:rotate-12 transition duration-600 ease-in-out">
          <a
            href="https://web.facebook.com/profile.php?id=100090950856671"
            target="_blank"
          >
            <img src="/logo/Facebook-Logo.png" alt="gambar" />
          </a>
        </div>
      </div>
    </div>
  </aside>
  <!-- aside done -->