<!-- from login start -->

<div
  class="absolute left-96 mt-40 w-[550px] h-[400px] rounded-sm bg-[#1e1e1e] overflow-hidden"
>
  <div>
    <img src="/logo/LOGO-forg-res.png" alt="gambar" class="mt-40 ml-8" />
  </div>

  <div>
    <h1 class="font-serif text-white ml-[290px] -mt-36 text-2xl font-mono">
      MASUK AKUN
    </h1>
    <hr class="absolute top-[110px] w-1/2 ml-[230px] mt-[5px]" />
    <form action="/login" method="post">
      <div class="relative">
        <input
          type="text"
          class="block absolute left-[245px] top-7 w-[250px] h-[30px] pl-[35px] rounded-sm"
          name="name"
          placeholder="Username / Email"
          autocomplete="off"
          style="
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            outline: none;
          "
        />
        <div
          class="absolute left-3 top-[12.5px] flex justify-center items-center"
        >
          <i class="" aria-hidden="true">
            <img
              src="/icon/1946429-removebg-preview 1.png"
              alt="gambar"
              class="ml-[235px] w-[27px] h-auto mt-[17px] rounded-sm"
            />
          </i>
        </div>
      </div>
      <div class="relative">
        <input
          type="password"
          class="block absolute left-[245px] top-[68px] w-[250px] h-[30px] pl-[35px] rounded-sm"
          name="password"
          placeholder="Password"
          autocomplete="off"
          style="
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            outline: none;
          "
        />
        <div
          class="absolute left-3 top-[12.5px] flex justify-center items-center"
        >
          <i class="" aria-hidden="true">
            <img
              src="/icon/gembok.png"
              alt="gambar"
              class="ml-[235px] w-[27px] h-auto mt-[58px] bottom-0 rounded-sm"
            />
          </i>
        </div>
      </div>
      <hr class="absolute top-[236px] w-[275px] ml-[230px]" />

      <div class="mt-2">
        <button
          type="submit"
          class="absolute top-[248px] px-2 ml-[340px] hover:bg-violet-500 bg-[#cbcbcb] rounded-sm"
        >Masuk</button>
      </div>
    </form>
    <a
      href="register"
      class="absolute top-[277px] ml-[360px] text-xs text-[#d9d9d9]"
      >Daftar</a
    >
  </div>
  <div class="w-[55%] ml-auto mt-52">
    <% if (typeof errors != 'undefined') { %>
    <div class="text-red-500" role="alert">
      <ul>
        <% errors.forEach(error => { %>
        <li class="mb-20" ><%= error.msg %></li>
        <% }) %>
      </ul>
    </div>
    <% } %>
  </div>
</div>

<!-- from login done -->
