<div class="h-[94vh] w-[38%] bg-[#2C2B2B] absolute bottom-2 left-20 rounded-md">
    <div class="h-[73vh] w-[100%] bg-[#705B5B] absolute bottom-0">
        <div class="w-[160px] h-[160px] bg-[#705B5B] rounded-full absolute right-[32%] -top-10">
            <div class="flex justify-center items-center w-[150px] h-[150px] mx-auto my-1 rounded-full bg-[#1aa24a]" >
                <p class="text-8xl pb-3"><%= firstChar %></p>
            </div>
        </div>

        <p class="text-center mt-[30%] text-black shadow-none"><%= name %></p>

        <p class="text-center mt-[5%] shadow-none "><%= email %></p>

        <form action="/logout" method="post" class="text-center">
            <button type="submit" class="w-[15%] h-[2%] bg-slate-200 rounded-md mt-[25%] text-center text-sm">LOGOUT</button>
        </form>
    </div>
</div>

<a href="/" class="h-[16vh] w-auto">
<img src="/logo/LOGO-forg-res.png" alt="" class="absolute right-[16%] top-[40%] h-[16vh] w-auto" />
</a>