    <!-- start tingkatan tutorial -->
    <div
      class="flex justify-center items-center mt-52 h-96 ml-24 mr-24 text-2xl rounded-sm"
    >
      <a href="#">
        <div class="relative w-1/2 h-96">
            <div class="absolute top-10 bg-[#403f3f] w-[350px] h-1/4 rounded-xl">
              <img
                src="/logo/c++.png"
                alt=""
                class="absolute top-2.5 w-1/4 h-auto"
              />
            <h2 class="text-lg absolute top-5 left-[94px]">
                tutorial c++ dasar
              </h2>
              <p class="mt-14 ml-24 text-sm truncate">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi sint
                totam officia sunt! Magnam quis itaque nulla quasi dolore ex
                repudiandae quaerat eos esse consequuntur, doloremque laborum
                distinctio delectus porro inventore. Totam, vel tempore delectus
                doloribus sequi dolore deleniti aspernatur inventore quas saepe
                reiciendis nihil, ea sint, vitae eum. Eligendi.
              </p>
            </div>
      </a>

       <a href="#">
        <div class="absolute top-10 left-96 bg-[#403f3f] w-[350px] h-1/4 rounded-xl">
            <img
              src="/logo/c++.png"
              alt=""
              class="absolute top-2.5 w-1/4 h-auto"
            />
          <h2 class="text-lg absolute top-5 left-[94px]">
              tutorial c++ lanjutan
            </h2>
            <p class="mt-14 ml-24 text-sm truncate">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi sint
              totam officia sunt! Magnam quis itaque nulla quasi dolore ex
              repudiandae quaerat eos esse consequuntur, doloremque laborum
              distinctio delectus porro inventore. Totam, vel tempore delectus
              doloribus sequi dolore deleniti aspernatur inventore quas saepe
              reiciendis nihil, ea sint, vitae eum. Eligendi.
            </p>
          </div>
       </a>

         <a href="#">
            <div class="absolute top-44 bg-[#403f3f] w-[350px] h-1/4 rounded-xl">
                <img
                  src="/logo/c++.png"
                  alt=""
                  class="absolute top-2.5 w-1/4 h-auto"
                />
              <h2 class="text-lg absolute top-5 left-[94px]">
                  tutorial c++ intermediate
                </h2>
                <p class="mt-14 ml-24 text-sm truncate">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi sint
                  totam officia sunt! Magnam quis itaque nulla quasi dolore ex
                  repudiandae quaerat eos esse consequuntur, doloremque laborum
                  distinctio delectus porro inventore. Totam, vel tempore delectus
                  doloribus sequi dolore deleniti aspernatur inventore quas saepe
                  reiciendis nihil, ea sint, vitae eum. Eligendi.
                </p>
              </div>
         </a>

          <a href="#">
            <div class="absolute top-44 left-96 bg-[#403f3f] w-[350px] h-1/4 rounded-xl">
                <img
                  src="/logo/c++.png"
                  alt=""
                  class="absolute top-2.5 w-1/4 h-auto"
                />
              <h2 class="text-lg absolute top-5 left-[94px]">
                  tutorial c++ expert
                </h2>
                <p class="mt-14 ml-24 text-sm truncate">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi sint
                  totam officia sunt! Magnam quis itaque nulla quasi dolore ex
                  repudiandae quaerat eos esse consequuntur, doloremque laborum
                  distinctio delectus porro inventore. Totam, vel tempore delectus
                  doloribus sequi dolore deleniti aspernatur inventore quas saepe
                  reiciendis nihil, ea sint, vitae eum. Eligendi.
                </p>
              </div>
          </a>
    </div>
    <!-- tingkatan tutorial done -->

