<!-- from login start -->
<div class=" absolute left-96 mt-40 w-[550px] h-[400px] rounded-sm bg-[#1e1e1e]">

    <div>
      <img src="/logo/LOGO-forg-res.png" alt="gambar" class="mt-40 ml-8">
    </div>

    <div>
      <h1 class="font-serif text-white ml-[280px] -mt-36 text-2xl font-mono">PENDAFTARAN</h1>
      <hr class="w-1/2 ml-[230px] mt-[5px]">
        <form action="/register" method="post">
          <div class="relative ">
            <div class="relative bottom-2">
              <input type="text" class="block absolute left-[245px] top-3 w-[250px] h-[30px] pl-[35px] rounded-sm"
                name="name" placeholder="username" autocomplete="off"
                style="font-family: 'Open Sans', sans-serif; font-size: 14px; outline: none;">
              <div class="absolute left-3 top-[12.5px] flex justify-center items-center">
                <i class="" aria-hidden="true">
                  <img src="/icon/1946429-removebg-preview 1.png" alt="gambar"
                    class="ml-[235px] w-[27px] h-auto mt-[1px] rounded-sm">
                </i>
              </div>
            </div>
            <input type="text" class="block absolute left-[245px] top-11 w-[250px] h-[30px] pl-[35px] rounded-sm"
              name="email" placeholder="example@gmail.com" autocomplete="off"
              style="font-family: 'Open Sans', sans-serif; font-size: 14px; outline: none;">
            <div class="absolute left-3 top-[12.5px] flex justify-center items-center">
              <i class="" aria-hidden="true">
                <img src="/icon/Mail.png" alt="gambar"
                  class="ml-[235px] w-[27px] h-auto mt-[36px] bottom-0 rounded-sm">
              </i>
            </div>
            <div>
              <div class="relative mb-1">
                <input type="password"
                  class="block absolute left-[245px] top-[85px] w-[250px] h-[30px] pl-[35px] rounded-sm"
                  name="password" placeholder="password" autocomplete="off"
                  style="font-family: 'Open Sans', sans-serif; font-size: 14px; outline: none;">
                <div class="absolute left-3 top-[12.5px] flex justify-center items-center">
                  <i class="" aria-hidden="true">
                    <img src="/icon/gembok.png" alt="gambar"
                      class="ml-[235px] w-[27px] h-auto mt-[74.5px] bottom-0 rounded-sm">
                  </i>
                </div>
              </div>
            </div>
            <hr class="absolute top-32 w-[275px] ml-[230px]  ">
    
            <div class="mt-2">
              <input type="submit" value="MASUK" class="absolute top-36 px-2 -mt-1 ml-[335px] hover:bg-violet-500 bg-[#cbcbcb] rounded-sm">
            </div>
        </form>
        <a href="login" class="absolute top-[175px] -mt-2 ml-[355px] text-xs text-[#d9d9d9] ">Login</a>
      </div>
      <!-- from login done -->