<%- include('./layouts/nav') %>

<div class="ml-0">
    <%- include('./layouts/side-bar') %>
    </div>


    <div class="bg-[#232323] w-[82.1%] ml-[242px] mt-[64px] h-[90vh] overflow-y-auto">
<form action="/upload" method="post" class="mt-10 absolute">
    <div class="relative">
        <h1 class="mt-7 text-white ml-[30px] text-xl">Judul</h1>
        <input
          type="text"
          class="block absolute ml-[30px] w-[250px] h-[30px] rounded-sm pl-1 bg-white-300 border-blue-100"
          name="judul"
          placeholder="Ketik judul disini"
          autocomplete="off"
          style="
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            outline: none;
          "
        />
    <div class="relative">
      <h1 class="mt-16 text-white ml-[30px] text-xl">Konten</h1>
        <textarea
          type="text"
          class="block absolute ml-[30px] top-8 w-[940px] h-[250px] rounded-sm pl-1"
          name="konten"
          placeholder=""
          autocomplete="off"
          style="
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            outline: none;
          "
        ></textarea>
        <div class="mt-2">
            <input
              type="submit"
              value="upload"
              class="absolute top-[290px] px-2 ml-[903px] hover:bg-blue-400 bg-[#cbcbcb] rounded-sm"
            />
          </div>
</form>
</div>


