html, body, *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #343131; 
    font-family: 'Inter', sans-serif;
}

/* navbar start */
nav{
    position: relative;
    background-color: #1e1e1e;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.logo-frog-res{
    width: 80%;
    height: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 2px;
    cursor: pointer;
}


.buku{
    position: absolute;
    bottom: 20px;
    right: auto;
    left: 290px;
}

.beranda{
    position: absolute;
    bottom: 20px;
}

.kontak{
    position: absolute;
    bottom: 20px;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

.link{
    text-decoration: none;
    color: #d9d9d9;
    font-size: 1rem;
    margin-left: .9rem;
}



.link:hover{
    background: -webkit-linear-gradient(to right, #87c32f, #1aa24a);
    background: linear-gradient(to right, #87c32f, #1aa24a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input-grup{
    width: 600px;
    position: relative;
    margin-left: auto;
    margin-right: -110px;
}

.input{
    width: 80%;
    outline: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 8px;
    padding-left: 40px;
    font-size: 1em;

}

.icon{
    position: absolute;
    left: 0;
    top: 2px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-grup{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.profile-grup:hover{
    transition: 2s;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}

.profile-grup:active{
    transition: 2s;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}

.profile{
    position: none;
    z-index: 9999;
    width: 52px;
    height: 52px;
    margin-right: 10px;
    cursor: pointer;
}

/* navbar done */

/* content start */
main{
    width: 70%;
    height: 200vh;
    background-color: #403f3f;
    margin-top: 75px;
    margin-left: 13px;
    float: left;
    border: 1px solid black;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.pertama{
    margin-top: 25px;
}

.grup-content{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    /* margin-bottom: -30px; */
}

.gap{
    margin-top: 40px;
}

h2, p{
    color: #d9d9d9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

a{
    text-decoration: none;
}

.bahasa{
    text-align: center;
    margin: 8px 40px 40px 40px;
    /* background-color: #1aa24a; */
}


.bahasa img{
    margin-bottom: 10px;
}

.hr{
    width: 90%;
    border-color: #282626;
    margin: auto;
    border: 3px solid #282626;
    margin-top: -33px;
}
/* content done */

/* aside start */
aside{
    width: 28%;
    height: 200vh;
    /* background-color: #1aa24a; */
    margin-right: 5px;
    margin-top: 75px;
    float: right;
}

.aside-content{
    height: 200vh;
}
/* aside done */


/* style login */

.sidebar {
    height: 90% !important;
}
